.@{prefix}-view-wf_editor {
    .@{prefix}-workflow {
        // ---------- 节点样式变量覆盖 ----------
        --xy-node-border: none;
        --xy-node-border-radius: @border-radius-sm;
        --xy-node-boxshadow-selected: none;

        // ---------- 连线样式变量覆盖 ----------
        --xy-edge-stroke: var(--gray-color-4);
        --xy-edge-stroke-selected: var(--gray-color-5);
        --xy-edge-stroke-width: 2;
        --xy-connectionline-stroke-width: 2;

        // ---------- 节点样式 ----------
        .react-flow__node {
            width: 240px;
            padding: 0;

            &.selectable {
                &:hover {
                    box-shadow: var(--xy-node-boxshadow-hover-default);
                }

                &.selected {
                    .@{prefix}-workflow-node {
                        box-shadow: 0 0 0 2px var(--border-color-blue);
                        // border: 2px solid var(--border-color-blue);

                        &.success,
                        &.error {
                            border-color: var(--component-background);
                        }
                    }
                }
            }
        }

        &-node {
            padding: @padding-sm;
            background-color: var(--component-background);
            border: 1px solid var(--component-background);
            border-radius: var(--xy-node-border-radius);

            &.success {
                border-color: var(--border-color-green);
            }

            &.error {
                border-color: var(--border-color-red);
            }
        }

        &-node-ifelse {
            .@{prefix}-workflow-node-icon .@{mui-prefix}SvgIcon-root {
                transform: rotate(90deg);
            }
        }

        &-node-header {
            display: flex;
            align-items: center;

            .@{prefix}-workflow-node-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                margin-right: @margin-sm;
                color: var(--white);
                border-radius: @border-radius-sm;

                .@{mui-prefix}SvgIcon-root {
                    font-size: @font-size-lg;
                }
            }

            .@{prefix}-workflow-node-title {
                .text-size(@font-size-base);

                font-weight: @font-weight-bold;
            }
        }

        &-node-body {
            margin-top: @margin-sm;
        }
    }
}
